In [ ]:
# Dicas de exercícios: https://www.pythonprogressivo.net/2018/06/Lista-Exercicios-Lacos-Looping-Python.html

# Laços de repetição e listas
# Repetição -> é uma sucessão de tarefas até um determinado ponto de parada,
# seguindo algum critério

In [ ]:
# A tabuada
# Parâmetros da tabuada são:
# 1 - qual a base da tabuada, ex. 2
# 2 - Qual o parâmetro de parada, ex. 10
# 2 x  1 = 2
# 2 x  2 = 4
# 2 x  3 = 4
# 2 x 10 = 20
# ou seja
# base x indice = resultado

In [ ]:
# Laço conhecido como "for" ou "para"

# A leitura abaixo é:
# Para todas linhas em "dados", colocar cada linha em "variavel" até que termine os dados

for variavel in range(1, 11): # range significa intervalo
  print(variavel)

In [ ]:
# Tabuada
for i in range(1, 11):
  print('2 X', i, ' =', 2*i)

In [ ]:
# Tabuada
for i in range(1, 11, 2):
  print('2 X', i, ' =', 2*i)

In [ ]:
# 1 < 5 sim, então soma mais 1 = 2
# 2 < 5 sim, então soma mais 1 = 3
# 3 < 5 sim, então soma mais 1 = 4
# 4 < 5 sim, então soma mais 1 = 5
# 5 < 5 não, então para

In [ ]:
# Contar em ordem decrescente

# 10 > 0, então diminui 1
# 9  > 0
# 8  > 0
# 1  > 0, então diminui 1 => 0
# 0  > 0 não, então para

for i in range(10, 0, -1):
  print(i, 'é maior que 0? | 2 X', i, ' =', 2*i)

In [ ]:
for i in range(1, 21):
  if ( (i % 2) == 0 ):
    print(i, 'é par')

In [ ]:
# Fazer um laço for que mostre somente os números ímpares do intervalo entre 1 e 50
for i in range(2, 10):
  if ( (i%2 != 0) ):
    print(i, 'é ímpar')

In [ ]:
for i in range(2, 10, 2):
  print(i, 'é ímpar')

In [ ]:
for i in range(1, 51):
  if ((i % 2) != 0):
    print(i, 'é impar')

In [ ]:
# input() faz a leitura do teclado
# Baseado em um número informado pelo usuário, apresentar a sua tabuada até 10

n = int(input("Digite a tabuada: "))
for i in range(1, 11):
  print(n, ' X', i, ' =', n*i)

In [ ]:
# Baseado em um número informado pelo usuário, montar todas as tabuadas até o 10
# do número informado, inclusive. Tempo: até 10:50

n = int(input("Digite a tabuada: "))
for x in range(1, n+1): # esta linha controla o número de tabuadas
  for i in range(1, 11):# aqui é gerada a tabuda
    print(x, ' X', i, ' =', x*i) # mostra o resultado
  print() # pular uma linha entre as tabuadas

In [54]:
# Listas (list)
# Uma lista é determinada por um para de colchetes []

# uma lista vazia
lista = []

# aqui temos uma lista de números, separados por vírgula
lista = [1, 2, 3, 4, 5]
print(lista) # a saída é um vetor ou array

[1, 2, 3, 4, 5]

In [55]:
lista = [1, 2, 3, 4, 5]
for i in lista: # aqui o laço "percorre" a lista
  print(i)

1
2
3
4
5

In [60]:
# Mostra um país de cada vez contido na lista de países
# posicção    0         1             2          3
paises = ['Brasil', 'Argentina', 'Alemanha', 'Itália']
#for pais in paises:
#  print(pais)

# mostra apenas um país
print(paises[1]) # segundo item da lista
print(paises[3]) # quarto item da lista

Argentina
Itália

In [ ]:
jogos = ['GTA', 'FIFA', 'COD', 'CS', 'Raibow Six', 'Red Dead Redemption']
for jogo in jogos:
  print(jogo)

In [62]:
times = ['CORINTHIANS', 'FLAMENGO', 'PALMEIRAS', 'SANTOS', 'SAO PAULO']
for time in times:
  print(time) #Mostra a lista em ordem

#012345678910
#CORINTHIANS
print(times[1]) #1 Item da lista

CORINTHIANS
FLAMENGO
PALMEIRAS
SANTOS
SAO PAULO
FLAMENGO