In [1]:
# Pequena lembrança sobre listas
notas = [8.5, 7.5, 9.0, 6.5]
print(notas)

[8.5, 7.5, 9.0, 6.5]

In [3]:
# operações com listas - média
# sum() faz a soma
# len() calcula o tamanho da lista
media = sum(notas) / len(notas)
print('Média:', media)

Média: 7.875

In [6]:
# 1 - Mostra a maior e a menor nota da lista de notas
# 2 - Mostrar as notas ordenadas uma depois da outra
# Tempo: 5 minutos

# Pensando... primeira coisa é colocar em ordem as coisas
notas = [8.5, 7.5, 9.0, 6.5]
notas.sort()
print(notas)
print('Maior:', max(notas))
print('Menor:', min(notas))

[6.5, 7.5, 8.5, 9.0]
Maior: 9.0
Menor: 6.5

In [7]:
# 2 - Mostrar as notas ordenadas uma depois da outra
notas = [8.5, 7.5, 9.0, 6.5]

# for faz uma repetição
for nota in notas:
    print(nota)

6.5
7.5
8.5
9.0

In [10]:
# Índice
for nota in notas:
    print(notas.index(nota), nota)

0 6.5
1 7.5
2 8.5
3 9.0

In [12]:
 # Mostrando o índice e o valor de um item em uma lista mais profissional
 for indice, nota in enumerate(notas):
     print(indice, '=>', nota)

0 => 6.5
1 => 7.5
2 => 8.5
3 => 9.0

In [ ]:
# Desafio......
# A = 8.5
# B = 7.5
# C = 9.0
# D = 6.5
# E = 6.5
# F = 8.5
# G = 9.5
# notas = [8.5, 7.5, 9.0, 6.5]

# Dicionários
São estruturas semelhantes as listas, porém não são ordenados e são compostos por: chave:valor

In [14]:
# chave : valor - key:value
# chave - é o identificador do valor
# valor - é o dado em si, ou seja, o que ele de fato

aluno_1 = {'ra': 123, 'nome': 'Edson Melo', 'curso': 'Ciências da Computação'}
aluno_2 = {'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia'}

In [16]:
# Mostrando uma chave isoladamente
print(aluno_1['nome'], aluno_2['nome'])

Edson Melo tio Patinhas

In [17]:
# Recuperando dados pela chave usando um método do dicionário
print(aluno_1.get('nome'))

Edson Melo

In [18]:
# Treinando
# Mostrar os valores para cada chave do dicionário
print(aluno_1.get('ra'))
print(aluno_1.get('nome'))
print(aluno_1.get('curso'))

123
Edson Melo
Ciências da Computação

In [20]:
# Vamos usar o "célebro", #SQN é o cérebro!!!!!
# Índice 0          1                       2
aluno = {'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia'}

# Como mostrar todos os valores das chaves?????
chaves = aluno.keys() # pega todas as chaves do dicionário
for chave in chaves:
    print(chave, aluno.get(chave))

ra 321
nome tio Patinhas
curso Economia

In [21]:
aluno = {'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia'}
for chave in aluno.keys():
    print(chave, aluno.get(chave))

ra 321
nome tio Patinhas
curso Economia

In [23]:
# Hummm, tem outro jeito
aluno = {'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia'}
for chave, valor in aluno.items():
    print(chave, valor)

ra 321
nome tio Patinhas
curso Economia

In [32]:
# Vamos treinar
# rg, nome, cpf, idade
# Mostrar somente os valores das chaves utilizando um laço
pessoa = {
    'rg': 123456,
    'nome': 'José Maria',
    'idade': 26
    }

# Esse código mostra a POSIÇÃO das chaves (Código da Ana)
for indice, valor in enumerate(pessoa):
  print(indice, '=>', valor)
print('Vamos ver o que tem aqui em pessoa:', pessoa) # idade

valores = pessoa.keys() # pessoa aqui nesse ponto não é mais um dicionário
for valor in pessoa:
    print(pessoa.get(valor))

0 => rg
1 => nome
2 => idade
Vamos ver o que tem aqui em pessoa: {'rg': 123456, 'nome': 'José Maria', 'idade': 26}
123456
José Maria
26

In [33]:
# operações com dicionários
# Adicionar, alterar e remover valores (key:value)

# Incluir uma valor
aluno['AV1'] = 8.0
print(aluno)

{'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia', 'AV1': 8.0}

In [34]:
# Outra forma - usando o comando update()
# Se o valor não existir, será inserido, senão atualizado
# Incluindo....
aluno.update({'AV2': 7.5})
print(aluno)

{'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia', 'AV1': 8.0, 'AV2': 7.5}

In [35]:
# Vamos atualizar
aluno.update({'AV2': 9.5})
print(aluno)

{'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia', 'AV1': 8.0, 'AV2': 9.5}

In [41]:
aluno.update({'AV1': 6.7, 'AV2': 5.5})
print(aluno)

{'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia', 'AV1': 6.7, 'AV2': 5.5}

In [42]:
# Remover um elemento do dicionário

# Primeira forma
del aluno['AV1']
print(aluno)

{'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia', 'AV2': 5.5}

In [43]:
# Segunda forma
aluno.pop('AV2')
print(aluno)

{'ra': 321, 'nome': 'tio Patinhas', 'curso': 'Economia'}

In [45]:
# Como localizar um valor no dicionário?
# Vamos pesquisar pela chave
aluno.update({'AV1': 6.7, 'AV2': 5.5})

print('AV1' in aluno) # True
print('AV3' in aluno) # False

True
False

In [46]:
# Melhorando nossa estrutura de notas
# Integração de dicionário com listas
aluno = {
    'ra': 123, 
    'nome': 'Edson Melo',
    'notas': [
              {'AV1': 5.5, 'AV2': 7.5, 'AV3': 9.5},
              {'AV1': 8.5, 'AV2': 9.5, 'AV3': 5.5},
            ]
    }
print(aluno)

{'ra': 123, 'nome': 'Edson Melo', 'notas': [{'AV1': 5.5, 'AV2': 7.5, 'AV3': 9.5}, {'AV1': 8.5, 'AV2': 9.5, 'AV3': 5.5}]}

In [47]:
# Mostrando apenas as notas
print(aluno.get('notas'))

[{'AV1': 5.5, 'AV2': 7.5, 'AV3': 9.5}, {'AV1': 8.5, 'AV2': 9.5, 'AV3': 5.5}]

In [48]:
# Criando uma lista de dicionários
alunos = []

# incluindo dicionários na lista
alunos.append({'id': 123, 'nome': 'tio Patinhas'})
alunos.append({'id': 321, 'nome': 'Zé Carioca'})

print(alunos)

[{'id': 123, 'nome': 'tio Patinhas'}, {'id': 321, 'nome': 'Zé Carioca'}]

In [49]:
# Mostrando os dicionários da lista
for dicionario in alunos:
    print(dicionario)

{'id': 123, 'nome': 'tio Patinhas'}
{'id': 321, 'nome': 'Zé Carioca'}

1. Utilizandos os conceitos vistos nesta aula e na aula anterior, crie um dicionário com 5 alunos que mostre:<br>
<ul>
    <li>Maior nota</li>
    <li>Menor nota</li>
    <li>Média dos alunos</li>
</ul>

2. Utilizando os mesmos dados, mostre os resultados de forma individual para cada curso.
3. **Desafio**: Desenvolva um algoritmo que permita mostrar **de uma só vez** os resultados para os respectivos cursos

In [ ]:
alunos = []
alunos.append({'nome': 'Aluno 01', 'curso': 'Ciências da Computação', 'AV1':8 })
alunos.append({'nome': 'Aluno 02', 'curso': 'Sistemas de Informação', 'AV1':7 })
alunos.append({'nome': 'Aluno 03', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 04', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 05', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 06', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':7 })
alunos.append({'nome': 'Aluno 07', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })
alunos.append({'nome': 'Aluno 08', 'curso': 'Ciências da Computação', 'AV1':10 })
alunos.append({'nome': 'Aluno 09', 'curso': 'Ciências da Computação', 'AV1':10 })
alunos.append({'nome': 'Aluno 10', 'curso': 'Ciências da Computação', 'AV1':4 })
alunos.append({'nome': 'Aluno 11', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':5 })
alunos.append({'nome': 'Aluno 11', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':5 })
alunos.append({'nome': 'Aluno 12', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })
alunos.append({'nome': 'Aluno 13', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })
alunos.append({'nome': 'Aluno 14', 'curso': 'Ciências da Computação', 'AV1': 7})
alunos.append({'nome': 'Aluno 15', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':7})
alunos.append({'nome': 'Aluno 16', 'curso': 'Ciências da Computação', 'AV1': 6})
alunos.append({'nome': 'Aluno 17', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':8 })
alunos.append({'nome': 'Aluno 18', 'curso': 'Ciências da Computação', 'AV1':4 })
alunos.append({'nome': 'Aluno 19', 'curso': 'Sistemas de Informação', 'AV1':2 })
alunos.append({'nome': 'Aluno 20', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })